* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow: none;
  /* outline: 2px solid red; */
  /* outline: 1px solid red; */
}
html {
  scroll-behavior: smooth;
}

/* navbar styling */
nav.navbar {
  background-color: transparent;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.nav-link {
  color: black !important;
  font-size: 16px;
  font-weight: 500;
}
.nav-link:hover {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.offcanvas-body,
.offcanvas-header {
  /* background-color: #ffffff !important; */
  font-size: 20px;
  font-weight: 500;
}

.offcanvas-end {
  width: 223px;
}
.nav-button .first-btn {
  background-color: transparent !important;
  border: 2px solid #47b2e4 !important;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 24px 7px 24px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
}
.nav-button .first-btn:hover {
  background-color: #47b2e4 !important;
  color: white !important;
}
.nav-button .second-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 24px 7px 24px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #47b2e4;
}
#navbar.scrolled {
  background-color: #000055ee;
}

/* hero section */

#hero {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/asset/img/investment2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

/* hero section animation */
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* investment-plan */

.investment-plan {
  background-color: #40096e;
}
.plan-content .box1 {
  background-color: #0d8cbb;
  border-radius: 10px;
  box-shadow: #000000;
  width: 300px;
  height: 300px;
}
.plan-content .box2 {
  background-color: #e1696a;
  border-radius: 10px;
  box-shadow: #000000;
  width: 300px;
  height: 300px;
}
.plan-content .box3 {
  background-color: #b82bb2;
  border-radius: 10px;
  box-shadow: #000000;
  width: 300px;
  height: 300px;
}
.plan-content .box4 {
  background-color: #60cc43;
  border-radius: 10px;
  box-shadow: #000000;
  width: 300px;
  height: 300px;
}

.profit {
  background-color: #31065b;
}
.profit form input,
select {
  background-color: transparent !important;
  border: 1px solid gray !important;
}
.top-earners {
  width: 100%;
  height: 90vh;
  background-color: #40096e;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.top-earners img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about img {
  width: 120px;
  object-fit: contain;
}
.hover-card {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.hover-card .content {
  background-color: #00000055;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  top: 100%;
  transition: 0.5s ease;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.hover-card:hover .content {
  top: 0;
}
.awsome-features {
  background-color: #40096e;
}

.active-members {
  background-color: #31065b;
  padding: 10px;
  justify-content: center;
}
.active-members-content {
  display: flex;
}
.active-members .bor {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  height: 200px;
}

.gap-2 > [class*="col-"] {
  padding-right: 1rem;
  padding-left: 1rem;
}
/* table */
.table-section {
  background-color: #40096e;
}
.table-section .table-content {
  background-color: #31065b;
  border-radius: 10px;
  /* padding-top: 10px; */
}
.table-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.table-section .table-content {
  /* background-color: #31065b; */
  box-shadow: #000000;
  width: 50%;
  /* padding: 10px 10px 20px; */
  border-radius: 10px;
}
.table-section .table-content table thead {
  background-color: #e37168;
  border-radius: 10px;
}
.table-section .table-content table tr img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.working-progress {
  background-color: #40096e;
}
.working-progress .shape {
  /* border: 1px solid #0d8cbb; */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 48px;
  border: dotted;
  margin: auto;
  border-color: #e1696a;
}
.working-progress .shape .shape-content {
  background-color: #e1696a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 4px;
}
.faq {
  background-color: #2c0759;
}
.accordion-button {
  background-color: #40096e !important;
}
.accordion-item {
  background-color: transparent !important;
  color: white !important;
}

.app {
  background-color: #40096e;
}
.btn-download {
  border-radius: 30px;
  background-color: #007bff;
  color: white;
  padding: 6px 12px; /* reduced padding */
  border: none;
  width: 200px;
  /* height: 55px; */
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 66px;
  }
}

.height {
  height: 100vh;
}

.card {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.card:hover {
  background-color: #eee;
}

.ratings i {
  color: orange;
}

.testimonial-list {
  list-style: none;
}

.testimonial-list li {
  margin-bottom: 20px;
}

.testimonials-margin {
  margin-top: -19px;
}
.testimonial {
  background-color: #3a1079 !important;
}
.blog-section {
  background-color: #3a1079 !important;
}
.card-body {
  background-color: #31065b;
  color: white;
}
footer {
  background-color: #2f095c;
}

@media (max-width: 768px) {
  .plan-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-section .about img {
    width: 100px;
  }
  .active-members-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .table-wrapper {
    display: flex;
    flex-direction: column;
  }
  .table-section .table-content {
    width: 100%;
  }
  .app-section {
    display: flex;
    flex-direction: column;
  }
  .app-button {
    display: flex;
    flex-direction: column;
  }
  .Reality1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    text-align: left !important;
  }
  .nav-link {
    color: black !important;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 999px) {
  .offcanvas.offcanvas-end {
    background-color: black !important;
  }
}
